@charset "UTF-8";

@font-face {
    font-family: 'android';
    src: url(fontes/idroid.otf) format(opentype);
    font-weight: normal;
}

body {
    background-image: linear-gradient(to bottom, rgb(4, 153, 4), rgb(4, 61, 4));
}

#principal {
    text-align: center;
}

#h1main {
    text-align: center;
    height: 100px;
    color: white
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.main {
    text-align: left;
    padding: 0;
    font-family: "android";
    font-size: xx-large;
    font-style: normal;
}

h2 {
    color: rgb(0, 85, 0);
    text-align: center;
    padding: 10px;
    background-color: white;
    font-family: "./fontes/idroid.otf";
}

main {
    background-color: rgb(255, 255, 255);
    padding: 50px;
    text-align: center;
    text-align: justify;
    justify-content: center;
    align-items: center;
    display: inline-block;
    box-shadow: 1px 1px 5px 0px;
    border-radius: 3px;
}

header {
    padding: 10px;
    color: white;
    box-shadow: 3px 3px 5px 3px black;
}

.ulmain {
    display: flex;
    gap: 10px;
    list-style: none;
}

li:hover {
    background-color: rgb(125, 214, 125);
    padding: 2px;
    display: block;
}

.container {
    background-color: rgba(192, 247, 219, 0.849);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 250px 0px 250px;
}

.rodape {
    background-color: white;
    padding: 2px;
}

.pmain {
    background-color: green;
}

.container3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: block;
    columns: 2;
    text-align: center;

}

.container4 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: inline-block;
}

.video {
    height: 400px;
    width: 515px;
}

footer {
    background-color: gray;
    padding: 1px;
    margin: 0px;
    border-radius: 9px;
}

.imagens {
    display: flex;
    justify-content: center;
}